.Login {
  background-color: white;
  border-radius: 5px;
  margin: 16px;
  padding: 16px 16px;
}

.Login-form {
  display: flex;
  flex-direction: column;
}

.Login .Login-title {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 64px;
}

.Login .Login-input {
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 5px;
  min-width: 250px;
  border-color: black;
  border-width: 1px;
}

.Login .Login-input:first-of-type {
  margin-top: 48px;
}

.Login .Login-input:last-of-type {
  margin-bottom: 48px;
}

.Login .Login-bottom {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
}

.Login .Login-error {
  color: red;
  font-size: 0.75rem;
}

.Login .Login-success {
  color: green;
  font-size: 0.75rem;
}