.SignIn {
  background-color: white;
  border-radius: 5px;
  padding: 16px;
}

.SignIn .SignIn-form {
  display: flex;
  flex-direction: column;
}

.SignIn .SignIn-title {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 32px;
}

.SignIn .SignIn-input {
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 5px;
  min-width: 250px;
  border-color: black;
  border-width: 1px;
}

.SignIn .SignIn-input:last-of-type {
  margin-bottom: 32px;
}

.SignIn .SignIn-button { 
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  margin-bottom: 1rem;
}

.SignIn .SignIn-error { 
  color: red;
  font-size: 0.75rem;
}

.SignIn .SignIn-success { 
  color: green;
  font-size: 0.75rem;
}
