.Todo { 
    text-align: left;
    background: white;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.Todo--completed { 
  text-decoration: line-through;
  opacity: 0.5;
}

.Todo .Todo__edit-input {
  width: 100%;
  border: none;
  margin-right: 1rem;
  padding: 0.5rem;
  opacity: 0.6;
}
.Todo .Todo__edit-input:focus {
  outline: none;
}

.Todo .Todo__text { 
  margin-right: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.Todo .btn:hover { 
  box-shadow: none;
}
.Todo .btn:click { 
  box-shadow: none;
}

.Todo .Todo__edit-btn { 
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
.Todo .Todo__delete-btn { 
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
/* 
}
.Todo .Todo__delete-btn:hover { 
  background-color: red;
} */